@font-face{
	font-family: yoster;
	src: url('Font/yoster.ttf');
	font-size: normal;
	font-weight: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: yoster;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: black;
}
body #wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 75%;
	max-width: 750px;
}
h1{
	color: #cc0000;
	font-size: 160px;
}
button{
	border: none;
	background: none;
	padding: none;
	color: white;
	font-size: 60px;
}
button:focus,
button:hover{
	outline: none;
	color: #1ec05d;
}
